/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: x-large;
}
ul {
  width: 100%;
}
a,
li {
  color: black;
  text-decoration: none;
  list-style: none;
}

#logo {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-start;
  color: black;
  font-family: "bebas neue", sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

#logo > div {
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
}

.logo1 {
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  padding: 0px;
  margin: 0px;
}

.logo2 {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0px;
  margin: 0px;
}

.list-items {
  display: inline-flex;
  flex-direction: row;

  color: black;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  width: 80%;
}

.list-items a:hover {
  cursor: pointer;
  color: skyblue;
  padding: 0px;
  margin: 0px;
}

/* font */

.search-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: flex-start;
  font-family: "poppins", sans-serif;
  font-size: small;
  margin: 0px 24px 0px 0px;
  padding: 5px 10px;
  height: 27px;
  border-radius: 5px;
  border: 1px solid black;
}

.search-btn:hover {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  padding: 0px 10px;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  color: black;
}

.search-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: large;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid black;
  background: black;
  color: white;
  height: 38px;
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  height: 1.5rem;
}
