/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: large;
}

ul {
  width: 100%;
}
a,
li {
  color: black;
  text-decoration: none;
  list-style: none;
}

#logo {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-start;
  color: black;
  font-family: "bebas neue", sans-serif;
  font-weight: 400;
  font-size: x-large;
  padding: 0px;
  margin: 0px;
}

#logo > div {
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
}

.logo1 {
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  padding: 0px;
  margin: 0px;
}

.logo2 {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0px;
  margin: 0px;
}

.list-items {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: black;
  font-family: "bebas neue", sans-serif;
  font-weight: 400;
  font-size: x-large;
  justify-content: space-around;
  align-items: space-evenly;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.list-items a:hover {
  cursor: pointer;
  color: silver;
  padding: 0px;
  margin: 0px;
}

/* nav form */
.search-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.search-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: flex-start;
  font-family: "poppins", sans-serif;
  font-size: small;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 63%;
}

.search-btn:hover {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bebas neue", sans-serif;
  font-size: large;
  margin: 0px 0px 0px 30px;
  padding: 0px 10px;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  color: black;
  width: 87px;
}

.search-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bebas neue", sans-serif;
  font-size: large;
  margin: 0px 0px 0px 30px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid black;
  background: black;
  color: white;
  height: 40px;
  width: 87px;
}

/* Card styles */
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.main > .card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 790px;
  background: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-container > .title {
  color: white;
  font-family: "bebas neue", sans-serif;
  font-weight: 400;
  font-size: large;
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h3 {
  font-size: x-large;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}

.card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 200px;
  width: 200px;
  padding: 0px !important;
  margin: 20px;
}
